{% extends 'layouts/details_without_image.html' %}
{% load i18n %}

{% block inner_content %}
<div>
  <div class="flex flex-row items-center">
      <div class="flex w-full items-center justify-between">
          <div id="name" class="w-[86%] text-md flex flex-row">
              <span class="text-2xl font-bold hover:black dark:hover:text-white truncate">
                  {{ collection.name }}
              </span>
          </div>
          <div class="pr-0 md:pr-4">
              <a id="name-edit" class="cursor-pointer text-primary hover:text-secondary"
                  hx-get="{% url 'edit_collection' identifier=collection.id field_name='name' %}"
                  hx-target="#name"
                  hx-swap="innerHTML" >
                  {{ edit }}
              </a>
          </div>
      </div>
  </div>
  <div class="flex flex-row items-center pt-2 text-md font-bold! [&>a]:text-primary [&>a]:hover:text-secondary [&>a]:cursor-pointer -mt-1!">
    <a href="{% url 'share_collection' collection.id %}">{% trans 'Share' %}</a>
  </div>
  <div class="pt-3">
    <span class="text-lg font-bold">{% trans 'Default Collection' %}</span>
  </div>
  <div class="flex justify-between text-slate-600 dark:text-slate-400">
      <div class="w-[86%]">
          <span id="default_collection">
              {% if collection.default_collection %}
              {% trans 'Yes' %}
              {% else %}
              {% trans 'No' %}
              {% endif%}
          </span>
      </div>
  </div>
  <div class="pt-2">
    <span class="text-lg font-bold">{% trans 'Description' %}</span>
  </div>
  <div class="flex justify-between text-slate-600 dark:text-slate-400">
      <div class="w-[86%] text-sm">
          <span id="description">
              {% if collection.description %}
              {{ collection.description }}
              {% else %}
              {% trans 'no description available' %}
              {% endif%}
          </span>
      </div>
      <div class="pr-0 md:pr-4">
          <a id="description-edit" class="cursor-pointer text-primary hover:text-secondary"
              hx-get="{% url 'edit_collection' identifier=collection.id field_name='description' %}"
              hx-target="#description"
              hx-swap="innerHTML">
              {{ edit }}
          </a>
      </div>
  </div>
  <div class="pt-2">
    <span class="text-lg font-bold">{% trans 'Date added' %}</span>
  </div>
  <div class="flex justify-between text-slate-600 dark:text-slate-400">
      <div class="w-[86%] text-sm">
          <span id="creation_date">{{ collection.creation_date }}</span>
      </div>
  </div>
  {% if not collection.default_collection %}
  <div class="pt-12 text-xl font-bold text-red-500">{% trans 'Danger Zone' %}</div>
  <div class="pt-3">
    <span class="text-lg font-bold">{% trans 'Delete Collection' %}</span>
  </div>
  <div class="flex justify-between text-slate-600 dark:text-slate-400">
      <div class="w-5/6">
        <span>{% trans 'Delete the collection and all its PDFs' %}</span>
      </div>
      <div class="pr-0 ml-2 md:pl-0 md:pr-4">
        <a id="delete-collection" class="text-red-500 hover:text-red-600 cursor-pointer"
          @click="show_delete_modal = true"
          hx-get="{% url 'delete_collection' collection.id %}"
          hx-target="#delete_modal"
          hx-swap="innerHTML">
          {% trans 'Delete' %}
        </a>
      </div>
  </div>
  {% endif %}
</div>
{% endblock %}
