{% extends 'layouts/settings.html' %}
{% load i18n %}

{% block inner_content %}
<span class="text-2xl font-bold">{% trans 'Viewer Settings' %}</span>
<div class="pt-4">
  <span class="text-lg font-bold">{% trans 'Inverted PDF Colors' %}</span>
</div>
<div class="flex justify-between text-slate-600 dark:text-slate-400">
    <div class="w-5/6">
        <span id="pdf_inverted_mode">{{ user.profile.pdf_inverted_mode }}</span>
    </div>
    <div class="pr-0 md:pr-6">
        <a id="pdf_inverted_mode_edit" class="cursor-pointer text-primary hover:text-secondary"
            hx-get="{% url 'profile-setting-change' 'pdf_inverted_mode' %}"
            hx-target="#pdf_inverted_mode"
            hx-swap="innerHTML" >
            {{ edit }}
        </a>
    </div>
</div>
<div class="pt-2">
  <span class="text-lg font-bold">{% trans 'Keep Screen Awake' %}</span>
</div>
<div class="flex justify-between text-slate-600 dark:text-slate-400">
    <div class="w-5/6">
        <span id="pdf_keep_screen_awake">{{ user.profile.pdf_keep_screen_awake }}</span>
    </div>
    <div class="pr-0 md:pr-6">
        <a id="pdf_keep_screen_awake_edit" class="cursor-pointer text-primary hover:text-secondary"
            hx-get="{% url 'profile-setting-change' 'pdf_keep_screen_awake' %}"
            hx-target="#pdf_keep_screen_awake"
            hx-swap="innerHTML" >
            {{ edit }}
        </a>
    </div>
</div>
{% endblock %}
