version: "3"

services:
  pdfding:
    container_name: pdfding
    build:
      context: ../  # Adjust this path to the directory containing the cloned repository and Dockerfile
      dockerfile: Dockerfile
    volumes:
      - /media/elohsun/dataset1/My_Project/PdfDing/books:/home/nonroot/pdfding/media
    env_file:
      - ../.env
    environment:
      - DEFAULT_THEME=${DEFAULT_THEME:-dark}
      - DEFAULT_THEME_COLOR=${DEFAULT_THEME_COLOR:-blue}
      - SECRET_KEY=${SECRET_KEY:-some_long_random_secret}
      # the domain where you want to access PdfDing, e.g. pdfding.com
      - HOST_NAME=${HOST_NAME:-192.168.0.101}
      - DATABASE_TYPE=${DATABASE_TYPE:-POSTGRES}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-pdfding}
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - LOG_LEVEL=INFO
      # In production set the following values to True
      - CSRF_COOKIE_SECURE=${CSRF_COOKIE_SECURE:-FALSE}
      - SESSION_COOKIE_SECURE=${SESSION_COOKIE_SECURE:-FALSE}
    ports:
      - "8899:8000"

  postgres:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=pdfding
      - POSTGRES_USER=pdfding
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-pdfding}
      - POSTGRES_PORT=5432

volumes:
  postgres_data:
