{% extends 'layouts/base_sidebar.html' %}
{% load i18n %}
{% block sidebar_content %}
<div class="flex flex-row w-full justify-between! md:flex-col gap-y-1
            [&>*]:font-semibold [&>div]:px-3 md:[&>div]:px-2 [&>div]:py-2 md:[&>div]:py-1 [&>div]:rounded-md
            [&>div>a]:flex [&>div>a]:flex-row [&>div>a]:items-center [&>div>a]:gap-x-2
            [&>div]:hover:bg-slate-200 dark:[&>div]:hover:bg-slate-700">
    <div>
        <a href="{% url 'pdf_overview' %}">
            {% include 'includes/svg/back.html' %}
            <span class="hidden md:block">{% trans 'Back to App' %}</span>
        </a>
    </div>
</div>
{% endblock %}
