{% extends 'layouts/base_sidebar.html' %}
{% load i18n %}
{% block sidebar_content %}
<div class="flex flex-row md:flex-col w-full md:pb-3 gap-2 md:border-b border-slate-300 dark:border-slate-600">
  {% include 'partials/workspace_dropdown.html' with page='overview' %}
  {% if current_collection_id %}
  {% include 'partials/collection_dropdown.html' %}
  {% endif %}
</div>
<div class="pt-2 mt-1 ">
  <div class="flex flex-row w-full justify-between! md:flex-col gap-y-1
              [&>*]:font-semibold [&>div]:px-3 md:[&>div]:px-2 [&>div]:py-2 md:[&>div]:py-1 [&>div]:rounded-md
              [&>div>a]:flex [&>div>a]:flex-row [&>div>a]:items-center [&>div>a]:gap-x-2
              [&>div]:hover:bg-slate-200 dark:[&>div]:hover:bg-slate-700">
      <div>
          <a href="{% url 'pdf_overview' %}">
            {% include 'includes/svg/back.html' %}
              <span class="hidden md:block">{% trans 'Back to PDFs' %}</span>
          </a>
      </div>
      <div {% if page == 'shared_pdf_overview' %} class="bg-slate-200 md:bg-slate-100 dark:bg-slate-800" {% endif %}>
          <a href="{% url 'shared_pdf_overview' %}">
              {% include 'includes/svg/document.html' %}
              <span class="hidden md:block">{% trans 'Shared PDFs' %}</span>
          </a>
      </div>
      <div {% if page == 'shared_collection_overview' %} class="bg-slate-200 md:bg-slate-100 dark:bg-slate-800" {% endif %}>
          <a href="{% url 'shared_collection_overview' %}">
              {% include 'includes/svg/collection.html' %}
              <span class="hidden md:block">{% trans 'Shared Collections' %}</span>
          </a>
      </div>
  </div>
</div>
{% endblock %}
