{% extends 'base_without_header.html' %}

{% load static %}
{% load i18n %}

{% block layout %}
<div class="flex flex-row w-full min-h-screen justify-center align-middle">
  <div class="flex flex-col md:my-auto lg:items-center gap-y-8 md:gap-y-12 lg:w-1/2 px-8 py-8 md:py-14">
    <a class="flex items-center gap-x-5" href="/">
        <div id="logo_div"
             class="flex items-center justify-center bg-primary h-14 w-14 md:h-19 md:w-19 rounded-full">
            {# bg-primary needed as profile image will flicker otherwise #}
            <img class="bg-primary rounded-lg h-10 w-10 md:h-14 md:w-14" src="{% static 'images/logo.svg' %}" alt="Logo"/>
        </div>
        <span class="text-4xl md:text-5xl font-bold text-primary">PdfDing</span>
    </a>
    <div class="max-w-2xl md:w-130 lg:w-110 xl:w-138 lg:px-4">
        <div class="dark:text-slate-200 w-full">
            <div class="[&>div>a]:pr-3 [&>*>a]:underline [&>*>*>*>a]:hover:underline [&>*>a]:hover:text-primary">
            {% block inner_layout %}
              {% block content %}
              {% endblock %}
            {% endblock %}
            </div>
        </div>
    </div>
  </div>
  <div class="hidden lg:block flex flex-col min-h-screen lg:w-1/2
              bg-linear-to-br from-emerald-500 bg-linear-to-br to-primary">
    <div class="flex justify-end pt-6 pr-6">
      {% if not SOCIALACCOUNT_ONLY and not SIGNUP_CLOSED %}
      <div class="flex flex-row items-center">
          <a class="py-2 px-3 text-sm font-semibold rounded-md bg-slate-200 hover:bg-slate-50 text-slate-700"
             href="{% url 'signup' %}">
            Sign up
          </a>
      </div>
      {% endif %}
    </div>
    <div class="flex flex-col gap-y-4 justify-center items-center text-center h-8/10 text-slate-100 px-8">
      <span class="text-5xl font-bold">
        Take Control Over Your PDFs
      </span>
      <span class="text-2xl">
        Manage, view and edit your PDFs seamlessly on all your devices whereever you are.
      </span>
    </div>
  </div>
</div>
{% endblock %}
