{% load i18n %}
<div class="flex flex-row justify-between items-center gap-x-2">
  <div class="flex flex-row gap-x-4 items-center truncate">
    <div class="flex flex-row items-center gap-x-1 font-bold text-md">
        <span id="user-{{ loop_id }}">{{ user.email }}</span>
        {% if user.is_superuser and request.user.is_staff %}
        <div id="user-{{ loop_id }}-admin-icon" class="text-primary">
          {% include 'includes/svg/admin.html' %}
        </div>
        {% endif %}
    </div>
    <div class="hidden min-[950px]:block flex flex-row items-center
                text-slate-500 dark:text-slate-300 text-sm">
        <div class="flex flex-row items-center gap-x-1">
          <div class="text-primary">
            {% include 'includes/svg/calendar.html' %}
          </div>
          <span class="text-ellipsis">{{ user.date_joined }}</span>
        </div>
    </div>
  </div>
  <div>
    <a class="cursor-pointer text-slate-400 dark:text-slate-500 hover:text-slate-800 dark:hover:text-slate-200"
       id="open-actions-{{ loop_id }}" @click="show_actions_{{ loop_id }} = !show_actions_{{ loop_id }}"
       @click.away="show_actions_{{ loop_id }} = false"
       @keyup.escape.window="show_actions_{{ loop_id }} = false">
        {% include 'includes/svg/vertical_dots.html' %}
    </a>
  </div>
</div>
